body{
    background-color: black;
}
div{
    text-align: center;
}
table{
    text-align:center
}
    table,tr,td,th{
    border:2px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
th{
    background-color: rgb(12, 105, 255);
}
td{
    color:rgb(114, 114, 114);
    background-color:khaki;
}
.dy{
    background-color:white;
    color:midnightblue;
}